p {
  text-align: justify;
}

#personal,
#specialist,
#health {
  flex-direction: column;
  flex-wrap: wrap;
}

#personal h2,
#specialist h2,
#health h2 {
  width: fit-content;
}

#personal .personal-list {
  display: flex;
  gap: 0;
  justify-content: space-between;
  list-style: disc;
  padding-left: 30px;
}

.personal-list li {
  display: list-item;
  flex: 0 1 450px;
}

#specialist .special-list,
#health .special-list {
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;

  list-style-type: disc;
  padding-left: 30px;
}
/* @media (min-width: 768px) {
  #specialist .special-list,
  #health .special-list {
    width: calc(50% - 1rem);
  }
} */

#specialist .special-list li,
#health .special-list li {
  flex: 1 450px;
  display: list-item;
  padding-top: 0;
}

.full {
  width: 100%;
}

@media (min-width: 768px) {
  .half--p {
    width: calc(50% - 1rem);
  }

  .half {
    width: calc(50% - 1rem);
  }
}

.contact-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  min-height: 40vh;
}

.contact-form--half {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.contact-form--half input {
  padding: 1rem;
  border: 2px solid var(--dark);
}

.contact-form--full {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.contact-form--full textarea {
  max-width: 100%;
  min-height: 150px;
  padding: 1rem;

  border: 2px solid var(--dark);
}

.contact-form--full input {
  padding: 1rem;

  border: 2px solid var(--dark);
}

@media (min-width: 768px) {
  .contact-form--half {
    width: calc(50% - 1rem);
  }
}
